<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <!-- Name and phone -->
  <div nz-row>
    <nz-form-item nz-col [nzSpan]="12">
      <nz-form-label>Name</nz-form-label>
      <nz-form-control [nzSpan]="20" nzErrorTip="Please input your name!">
        <input nz-input formControlName="name" placeholder="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-col [nzSpan]="12">
      <nz-form-label>Phone</nz-form-label>
      <nz-form-control
        [nzSpan]="20"
        nzErrorTip="Please input your phone number!"
      >
        <input nz-input formControlName="phone" placeholder="phone number" />
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- Address and date of birth -->
  <div nz-row>
    <nz-form-item nz-col [nzSpan]="12">
      <nz-form-label>Address</nz-form-label>
      <nz-form-control [nzSpan]="20" nzErrorTip="Please input your address!">
        <input nz-input formControlName="address" placeholder="address" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-col [nzSpan]="12">
      <nz-form-label>Date of Birth</nz-form-label>
      <nz-form-control
        [nzSpan]="24"
        nzErrorTip="Please select your date of birth!"
      >
        <nz-date-picker formControlName="dateOfBirth"> </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- dateOfRegister and specialization -->
  <div nz-row>
    <nz-form-item nz-col [nzSpan]="12">
      <nz-form-label>Date of Register</nz-form-label>
      <nz-form-control
        [nzSpan]="20"
        nzErrorTip="Please select the date of register!"
      >
        <nz-date-picker formControlName="dateOfRegister"> </nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-col [nzSpan]="12">
      <nz-form-label>Specialization</nz-form-label>
      <nz-form-control
        [nzSpan]="20"
        nzErrorTip="Please input your specialization!"
      >
        <input
          nz-input
          formControlName="specialization"
          placeholder="specialization"
        />
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- description -->

  <nz-form-item nz-col [nzSpan]="24">
    <nz-form-label>Description</nz-form-label>
    <nz-form-control [nzSpan]="22" nzErrorTip="Please input your description!">
      <textarea
        nz-input
        rows="6"
        cols="30"
        formControlName="description"
        placeholder="description"
      ></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="24" [nzOffset]="18">
      <button nz-button nzType="default" nzDanger (click)="resetForm($event)">
        Reset
      </button>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">
        Submit
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
