

<app-navbar></app-navbar>


<div class="app">
  <h1>Assalomu Alaykum</h1>
  <div class="card">
    <div class="cards" *ngFor="let item of Items">
      <b> Raqami: {{ item.id }} </b>

      <br />

      <img src="{{ item.image }}" alt="Xatolik" width="200" height="300" />

      <span> Turi: {{ item.category }}</span>
      <b>{{ item.title.slice(0, 75) + '...' }}</b>
      <p>{{    item.description.slice(0, 125) + '...'  }}</p>

      <i> Narxi: {{ item.price }}$</i>
      <br>
      <button>
          Ko'rish
      </button>

    </div>
  </div>
</div>


<app-footer></app-footer>