<div class="app" >

      <h1>Salom Dunyo</h1>

     

    <ul>
      <li *ngFor="let item of Items" > 

       <b> Raqami:   {{ item.id }}  </b> 
       <br>
        <span> Turi:  {{ item.category }}</span>

        <!-- <img src=`${ item.image }`   alt=""> -->

        <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="Product Image" width="50 ">




        <br>
        <i> Narxi:  {{ item.price }}$</i>


      </li>
    </ul>




</div>






<!-- <app-home></app-home>

<app-work></app-work> -->