<div class="app">
  <h1>Mahsulotlar</h1>
  <h1>Mahsulotlar</h1>

  <div class="search">
    <input [(ngModel)]="searchText" placeholder="Qidirish..." />
    <button (click)="search(searchText)">Qidirish</button>
  </div>

  <div class="cards-wrapper">
    <div class="cards" *ngFor="let item of Items">
      <b> Raqami: {{ item.id }} </b>

      <br />

      <div class="image">
        <img src="{{ item.image }}" alt="Xatolik" width="200" height="300" />
      </div>
      <div class="image">
        <img src="{{ item.image }}" alt="Xatolik" width="200" height="300" />
      </div>

      <span> Turi: {{ item.category }}</span>
      <b>{{ item.title.slice(0, 50) + "..." }}</b>
      <p>{{ item.description.slice(0, 100) + "..." }}</p>
      <b>{{ item.title.slice(0, 50) + "..." }}</b>
      <p>{{ item.description.slice(0, 100) + "..." }}</p>

      <i> Narxi: {{ item.price }}$</i>

      <br />
      <br />
      <b class="count"> Soni: {{ item.rating.count }} ta </b>
      <br />
      <div class="stars">
        <ng-container *ngFor="let s of item.fullStars">
          <span class="star full">&#9733;</span>
        </ng-container>

        <span *ngIf="item.halfStar" class="star half">&#9733;</span>

        <ng-container *ngFor="let s of item.emptyStars">
          <span class="star empty">&#9733;</span>
        </ng-container>
      </div>

      <br />
      <div class="show-product">
        <button (click)="showProduct(item.id)">Ko'rish</button>
      </div>
      <div class="show-product">
        <button (click)="showProduct(item.id)">Ko'rish</button>
      </div>
    </div>
  </div>
</div>
